<div class="options">
  <a routerLink="/">No me dan por lo' tobillo'Un sádico criao' en Lo CoquilloHaciendo mi diligencia, hasta con cien en lo' bolsillo'Y tengo un anillo 'e Trinitario En el deo con el que aprieto lo' gatillo'Lo' pasillo' lleno' 'e sangreDonde yo ponía el de treintaY en la noche sacaba cuenta por mi diligenciaMi viejita mensa, sábado de salsa, domingo de dembowSiempre to' lo' día' con un flow!!! </a>
  <a routerLink="/followed">Seguidos</a>
</div>
<app-post-input></app-post-input>
<router-outlet></router-outlet>
